
@import url('https://fonts.googleapis.com/css?family=Muli');

/*reset*/
* {
  margin: 0;
  padding: 0;
}

.h1-produto {
  color: #ffffff;
  font-family: "muli";
  font-weight: bold;
  font-size: 22px;
  margin-top: 21px;
  display: inline-block;
}

.h3-produto {
  color: #ffffff;
  font-family: "muli";
  margin-top: 32px;
  font-size: 20px;
  font-weight: 500;
}

.h2-produto {
  color: #ffffff;
  font-family: "muli";
  margin-top: 16px;
  font-weight: 800;
  font-size: 25px;
}

.h4-produto {
  display: inline-block;
  color: #ffffff;
  font-family: "muli";
  /*margin-top: 195px;*/
  margin-top: 16px;
  font-weight: bold;
  font-size: 20px;
}

h4.dis {
  display: inline-block;
  color: #ffffff;
  font-family: "muli";
  font-weight: 400;
  font-size: 17px;
  margin-left: 30px;
  text-decoration: line-through #ea3201;
}

.discount {
  display: inline-block;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 13px;
}

.product-info ul li {
  color: #ffffff;
  font-family: "muli";
  margin-top: 29px;
  font-weight: 500;
  font-size: 13px;
}

.bg {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 2px;
  margin-right: 20px;
  transition: 0.3s all ease;
  border-radius: 50%;
}

.bg:hover {
  background-color: #ccc;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.foot {
  color: #ffffff;
  font-family: "muli";
  margin-top: 50px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 11px;
  float: left;
  transition: 0.3s all ease;
}

.foot i:nth-child(1) {
  margin-left: 0;
  margin-right: 5px;
}

.foot:hover {
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
}

/*main card*/

.left-produto {
  content: "";
  height: 395px;
  width: 330px;
  display: flex;
  align-items: center;
  background-color: #232533;
  margin-left: 93px;
  border-radius: 0% 50% 50% 0%;
  position: absolute;
  z-index: 5;
}

.left-produto .img-produto {
  transform: scaleX(-1);
  height: 55%;
}

.right-produto {
  content: "";
  height: 395px;
  width: 550px;
  background-color: #2a2f40;
  z-index: 3;
  margin-left: 200px;
}

.product-info {
  position: absolute;
  margin-left: 245px;
  height: 394px;
  width: 305px;
  z-index: 10;
}
